body{
  color: #40514E
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 90px;

}

h3{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  width: 5%;
  margin: auto;
  margin: 0;
  padding: 0;
  display: inline;
}




.top-container{
  background-color: #ffeebb;
  position: relative;
  padding-top: 100px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -100px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.tsveti {
    border-radius: 50%;
}

.Intro{
  width: 30%;
  margin: auto;
}

.middle-container{
  margin: 100px -20px -20px;
  background-color: #ffeebb;
}

.bottom-container{
   margin-top: 50px;
   padding: 50px 0 20px;
   background-color: #ffeebb;
   margin-bottom: -100px;
}
.clock {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    padding-top: 90px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn {
  background: #d93489;
  background-image: -webkit-linear-gradient(top, #d93489, #265573);
  background-image: -moz-linear-gradient(top, #d93489, #265573);
  background-image: -ms-linear-gradient(top, #d93489, #265573);
  background-image: -o-linear-gradient(top, #d93489, #265573);
  background-image: linear-gradient(to bottom, #d93489, #265573);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.fbBtn {
  background: #2f4eeb;
  background-image: -webkit-linear-gradient(top, #2f4eeb, #000000);
  background-image: -moz-linear-gradient(top, #2f4eeb, #000000);
  background-image: -ms-linear-gradient(top, #2f4eeb, #000000);
  background-image: -o-linear-gradient(top, #2f4eeb, #000000);
  background-image: linear-gradient(to bottom, #2f4eeb, #000000);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.fbBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.linkBtn {
  background: #2f4eeb;
  background-image: -webkit-linear-gradient(top, #2f4eeb, #000000);
  background-image: -moz-linear-gradient(top, #2f4eeb, #000000);
  background-image: -ms-linear-gradient(top, #2f4eeb, #000000);
  background-image: -o-linear-gradient(top, #2f4eeb, #000000);
  background-image: linear-gradient(to bottom, #2f4eeb, #000000);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.linkBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.gitBtn {
  background: #1d9e03;
  background-image: -webkit-linear-gradient(top, #1d9e03, #b8492b);
  background-image: -moz-linear-gradient(top, #1d9e03, #b8492b);
  background-image: -ms-linear-gradient(top, #1d9e03, #b8492b);
  background-image: -o-linear-gradient(top, #1d9e03, #b8492b);
  background-image: linear-gradient(to bottom, #1d9e03, #b8492b);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.gitBtn:hover {
  background: #3cfc53;
  background-image: -webkit-linear-gradient(top, #3cfc53, #470808);
  background-image: -moz-linear-gradient(top, #3cfc53, #470808);
  background-image: -ms-linear-gradient(top, #3cfc53, #470808);
  background-image: -o-linear-gradient(top, #3cfc53, #470808);
  background-image: linear-gradient(to bottom, #3cfc53, #470808);
  text-decoration: none;
}
